
body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    min-height: 100vh;
    margin: 0px;
    padding:0px;
    font-size: 24px;
}

.body 
{
    flex:1;
    display: flex;
    flex-direction: column;
}

.header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

ul
{
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0px;
    font-size: 18px;
}

.header,.top,.footer
{
    background-color: #1f2937;
    color: #f9faf8;
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 100px 200px;
}

.top-image
{
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 300px;
    flex-shrink: 0;
}

.big-text
{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.small-text, button
{
    font-size: 18px;
    color: #e5e7eb;
}

button
{
    background-color: #3882f6;
    padding:8px 32px;
    border-radius: 8px;
}

.display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0px;
    padding: 0px 400px;
}

.title
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.items
{
    display: flex;
    gap: 64px;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card div
{
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: solid;
    /* border-color: #3882f6; */
    border-color: #1f2937;
    border-width: 8px;
    border-radius: 50px;
    flex-shrink: 0;
    padding: 0;
}

.go-kart img
{
    margin-top: -270px;
    margin-right:50px;
}

.Exo-skeleton img
{
    margin-top: -200px;
    margin-left:-50px;
}

.core-xy img
{
    margin-top: -100px;
    margin-left:0px;
}

.card p
{
    text-align: center;
}

.quote
{
    display:flex;   
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: "light italic";
    color: #1f2937;
    padding: 0px 400px;
    gap: 0px;
    
}

.author
{
    display: flex;
    justify-content: end;
    padding:0;
    font-weight: bold;
}

.section
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 100px 200px;
    padding: 50px 150px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 16px;
    max-width: 2000px;
    
}

.text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
}

.cta .text .title
{
    color: #f9faf8;
    font-size: 30px;
    font-weight: bold;
}

.cta button
{
    border-color: #f9faf8;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

